@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
 --white: hsl(0, 0%, 100%);
 --stone100: hsl(30, 54%, 90%);
 --stone150: hsl(30, 18%, 87%);
 --stone600: hsl(30, 10%, 34%);
 --stone900: hsl(24, 5%, 18%);
 --brown800: hsl(14, 45%, 36%);
 --rose800: hsl(332, 51%, 32%);
 --rose50: hsl(330, 100%, 98%);
}

*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box; 
}

h2{
  color: var(--brown800);
  font-size: 1.5rem;
  font-family: "Young Serif", serif;
  font-weight: 400;

}

p{
  color: var(--stone600);
  font-family: "Outfit";
  font-size: 1rem;
}

span{
  color: var(--stone600);
  font-weight: 600;
}

body{
  background-color: var(--stone100);
  min-height: 100vh; 
  padding: 100px 0px;

  display: flex; 
  justify-content: center; 
  align-items: center;
}

main{
  background-color: var(--white);
  width: 100%; 
  max-width: 600px;
  padding: 1.3rem;

  display: flex; 
  flex-direction: column;
  gap: 10px;
}

.recipe-img{
  /* background-color: rgba(0, 128, 0, 0.562);  */

  img{
    width: 100%;
    object-fit: cover;
  }
}


.recipe-details{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*! Recipe Overview Section  */

.recipe-overview{
  /* background-color: rgba(0, 113, 128, 0.582);  */
  /* min-height: 200px; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.overview-heading{
  /* padding-bottom: 15px; */
  
  h1{
  color: var(--stone900);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1;
 }
}

.overview-description{  
  p{
    width: 97%;
  }
}

.overview-preparation{
  background-color: var(--rose50);
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 10px;
  padding: 15px;

  h4{
    font-family: "Outfit", serif;
    color: var(--rose800);
  }

  ul{
    padding-left: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px;

    li{
     padding-left: 10px;
     color: var(--rose800);
    }
  }
}

/*! Recipe Ingredients Section  */


.recipe-ingredients{
  /* background-color: rgba(98, 40, 116, 0.658);  */
  display: flex; 
  flex-direction: column;
  gap: 10px;
}


.ingredients-items{
  padding-left: 20px;


  ul{
    display: flex; 
    flex-direction: column; 
    gap: 8px;


    li{
      color: var(--brown800);


      p{
        padding-left: 10px;
      }
    }
  }
}

/*! Recipe Instructions Section  */


.recipe-instructions{
  /* background-color: rgba(94, 128, 0, 0.685);  */
  
  display: flex; 
  flex-direction: column;
  gap: 10px;

  ul{
  display: flex; 
  flex-direction: column;
  gap: 10px;
  }
}

.instructions-list{
  padding-left: 20px;


  ol{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    
    li::marker{
      color: var(--brown800);
      font-weight: 600;
    }

    p{
      padding-left: 10px;
    }
  }
}


/*! Recipe Nutrition Section  */

.recipe-nutrition{
  /* background-color: rgba(128, 0, 0, 0.534);  */
  
  display: flex; 
  flex-direction: column;
  gap: 15px;


  table{
    width: 100%;
    border: none;
    border-collapse: collapse;

    th, td{
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid var(--stone150);


      p{


        span{
          color: var(--brown800)
        }
      }
    }

    tr:last-child td{
      border-bottom: none; 
    }
  }
}

.nutrition-description{

  p{
    width: 90%;
  }

}


@media (width <= 400px){
  body{
    padding: 0px;
  }

  main{
    padding: 0; 
  }

  .recipe-details{
    padding: 3rem 1.3rem 1.3rem 1.3rem;
  }

  .recipe-img{
    height: 130px;
  }
}

@media (400px < width <= 595px){
    body{
    padding: 0px;
  }

  main{
    padding: 0; 
  }

  .recipe-details{
    padding: 1rem 1.3rem 1.3rem 1.3rem;
  }
}